.carousel, .carousel-item img {
    width: 220px;
    height: 210px;
}

.all-projects {
    margin: 0 40px;
}

.projects {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}

.projects-block {
    margin-bottom: 50px;
}

.projects-block span {
    width: 15px;
    height: 15px;
}

.add-project {
    height: 170px;
    width: 170px;
    cursor: pointer;
    border-radius: 15%;
}

.carousel-control-prev, .carousel-control-next {
      background: none !important;       /* Полностью прозрачный фон */
      border: none !important;           /* Убираем границу */
      width: 40px !important;           /* Ширина области клика */
      height: 40px !important;          /* Высота области клика */
      opacity: 0.7;                     /* Полупрозрачные по умолчанию */
      transition: all 0.3s ease;        /* Плавные анимации */
      margin: 0 10px;                   /* Отступы от краев */
}

.carousel-control-prev {
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    border: none;
    justify-content: flex-start;      /* Выравнивание по левому краю */
}

.carousel-control-next {
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    border: none;
    justify-content: flex-end;        /* Выравнивание по правому краю */
}