.error {
    width: 80%;
    display: block;
    margin: 0 auto;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f8f9fa; /* Светло-серый цвет */
}

header {
    background-color: #e0e4e9; /* темнее Светло-серый цвет */
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1, .avatar, header img{
    cursor: pointer;
}

header h1 {
    transition: color 0.3s ease; /* Плавный переход цвета */
    max-width: 260px;
}

header h1:hover {
    color: blue; /* Изменение цвета текста при наведении */
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar-img {
    border-radius: 25px;
    margin-right: 5px;
    float: left;
}

.avatar-caption {
    font-weight: 500;
    font-size: 20pt;
}

.user-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.currency {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

main {
    margin: 15px 0;
}

.carousel, .carousel-item img {
    width: 220px;
    height: 210px;
}

.all-projects {
    margin: 0 40px;
}

.projects {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}

.projects-block {
    margin-bottom: 50px;
}

.projects-block span {
    width: 15px;
    height: 15px;
}

.add-project {
    height: 170px;
    width: 170px;
    cursor: pointer;
    border-radius: 15%;
}

.carousel-control-prev, .carousel-control-next {
      background: none !important;       /* Полностью прозрачный фон */
      border: none !important;           /* Убираем границу */
      width: 40px !important;           /* Ширина области клика */
      height: 40px !important;          /* Высота области клика */
      opacity: 0.7;                     /* Полупрозрачные по умолчанию */
      transition: all 0.3s ease;        /* Плавные анимации */
      margin: 0 10px;                   /* Отступы от краев */
}

.carousel-control-prev {
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    border: none;
    justify-content: flex-start;      /* Выравнивание по левому краю */
}

.carousel-control-next {
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    border: none;
    justify-content: flex-end;        /* Выравнивание по правому краю */
}

.profile-bottom-buttons {
    display: flex;
    justify-content: space-between;
}
