body {
    background-color: #f8f9fa; /* Светло-серый цвет */
}

header {
    background-color: #e0e4e9; /* темнее Светло-серый цвет */
    padding-left: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-items {
    height: 100px;
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1, header .user-items img {
    cursor: pointer; /* Указатель при наведении */
    transition: color 0.3s ease; /* Плавный переход цвета */
    max-width: 260px;
}

header .user-items img {
    border-radius: 25px;
}

header h1:hover {
    color: blue; /* Изменение цвета текста при наведении */
}

