body {
    font-family: "Roboto", sans-serif;
    background-color: #f8f9fa; /* Светло-серый цвет */
}

header {
    background-color: #e0e4e9; /* темнее Светло-серый цвет */
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1, .avatar, header img{
    cursor: pointer;
}

header h1 {
    transition: color 0.3s ease; /* Плавный переход цвета */
    max-width: 260px;
}

header h1:hover {
    color: blue; /* Изменение цвета текста при наведении */
}

.avatar-img {
    border-radius: 25px;
    margin-right: 5px;
    float: left;
}

.avatar-caption {
    font-weight: 500;
    font-size: 20pt;
}

.avatar {
    display: flex;
    align-items: center;
}

.user-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.currency {
    border-radius: 100%;
}

main {
    margin: 15px 0;
}

.carousel, .carousel-item img {
    width: 400px;
    height: 300px;
}

.projects {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: center;
}

