<!DOCTYPE html>
<html lang="ru">
    <head>
        <!-- кодировка -->
        <meta charset="utf-8" />
        <!-- Устанавливает масштабирование и адаптивность страницы для мобильных устройств -->
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- для браузеров -->
        <meta
            name="description"
            content="UltimateUnity — платформа для создания, покупки и продажи проектов. Объединяем разработчиков, предоставляем удобные инструменты и быстрый обмен данными. Присоединяйтесь к сообществу и ультуйте!"
        />
        <meta
            name="keywords"
            content="UltimateUnity, проекты, разработка, покупка, продажа, платформа, сообщество, инструменты, обмен данными, Unity, программирование, IT, стартап, фриланс, marketplace, разработка, дизайн, профили, уведомления, валюта, регистрация, авторизация"
        />
        <meta name="author" content="UltimateUnity Team" />

        <!-- для пересылания -->
        <meta
            property="og:title"
            content="UltimateUnity: Создание, покупка и продажа проектов."
        />
        <meta property="og:type" content="website" />
        <!-- или article, video, profile -->
        <meta property="og:url" content="https://bruhunity.glitch.me/" />
        <meta property="og:image" content="../static/img/preview.png" />
        <meta
            property="og:description"
            content="Объединяем разработчиков по всему миру. Присоединяйтесь к сообществу!"
        />
        <meta property="og:site_name" content="UltimateUnity" />
        <meta property="og:locale" content="ru_RU" />

        <!-- стили -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../static/css/style.css" />
        <link rel="stylesheet" href="../static/css/users.css" />
        <link rel="stylesheet" href="../static/css/projects.css" />
        <link rel="stylesheet" href="../static/css/auth.css" />

        <!-- для иконок favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/img/icon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/img/icon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/img/icon/favicon-16x16.png"
        />
        <link rel="manifest" href="../static/img/icon/site.webmanifest" />

        <!-- для шрифтов -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <!-- google аналитика -->
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-MLBP42BLRK"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-MLBP42BLRK");
        </script>

        <title>{{ title }}</title>
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <header>
            <div class="main-items">
                <h1 onclick="location.href='/'" title="На главную страницу">
                    UltimateUnity
                </h1>

                {% if current_user.is_authenticated %}
                <img
                    src="../static/img/add_project.png"
                    align="left"
                    width="70px"
                    height="70px"
                    title="В проекты"
                    onclick="location.href='/current_projects'"
                />
                {% endif %}
            </div>

            <div class="user-items">
                {% if current_user.is_authenticated %}
                <div
                    onclick="location.href='/profile'"
                    class="avatar"
                    title="В профиль"
                >
                    <img
                        src="../static/buffer/profile.png"
                        width="60px"
                        height="60px"
                        class="avatar-img"
                    />
                    <span class="avatar-caption">{{ current_user.name }}</span>
                </div>
                <div
                    onclick="location.href='/currency'"
                    class="currency"
                    title="В отдел валют"
                >
                    <img
                        src="../static/img/currency.png"
                        class="currency-img"
                        alt="Непрогруженная валюта"
                    />
                    <span class="currency-caption"
                        >{{ current_user.balance }}</span
                    >
                </div>
                <div
                    onclick="location.href='/message'"
                    class="message"
                    title="В уведомления"
                >
                    <img
                        src="../static/img/notifications.png"
                        alt="Непрогруженные уведомления"
                    />
                </div>
                {% else %}
                <button
                    onclick="location.href='/register'"
                    class="btn btn-primary"
                >
                    Зарегистрироваться
                </button>
                <button
                    onclick="location.href='/login'"
                    class="btn btn-success"
                >
                    Войти
                </button>
                {% endif %}
            </div>
        </header>

        <main role="main" class="bg-light">
            {% block content %} {% endblock %}

            <footer class="bg-dark text-white">
                <div class="container py-4">
                    <h5>О нас</h5>

                    <p>
                        Мы — компания, предоставляющая лучшие услуги в своей
                        области. Наша цель — удовлетворение потребностей
                        клиентов. Покупка, продажа и создание проектов — всё,
                        что требуется от вас. Отличный сайт, быстрая обратная
                        связь — это к нам.
                    </p>

                    <div class="text-center py-3">
                        <small
                            >&copy; 2025 UltimateUnity. Все права
                            защищены.</small
                        >
                    </div>
                </div>
            </footer>
        </main>
    </body>
</html>
