<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Марс</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/icon/favicon-16x16.png">
    <link rel="manifest" href="../static/img/icon/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <h1 title="На главную страницу" onclick="location.href='/'">UltimateUnity</h1>
    <div class="user-items">
        <div class="avatar" onclick="location.href='/profile'" title="В профиль">
            <img src="../static/img/default_profile_photo.png" alt="Непрогруженная аватарка"
                 width="60px" height="60px" class="avatar-img">
            <span class="avatar-caption">GUEST</span>
        </div>
        <img src="../static/img/currency.png" alt="Непрогруженная валюта" title="Валюта"
             onclick="location.href='/currency'" width="30px" height="30px" class="currency">
        <img src="../static/img/notifications.png" alt="Непрогруженные уведомления" title="Уведомления"
             onclick="location.href='/notifications'">
    </div>
</header>
<!-- Begin page content -->
<main role="main" class="bg-light">
    {% block content %}
    {% endblock %}
</main>
<footer class="bg-dark text-white">
    <div class="container py-4">
        <h5>О нас</h5>
        <p>Мы — компания, предоставляющая лучшие услуги в своей области.
            Наша цель — удовлетворение потребностей клиентов. Покупка, продажа и создание проектов —
            всё, что требуется от вас. Отличный сайт, быстрая обратная связь — это к нам.</p>
        <div class="text-center py-3">
            <small>&copy; 2025 UltimateUnity. Все права защищены.</small>
        </div>
    </div>
</footer>
</body>
</html>