{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Баланс:</h1>
        <div style="font-size:50pt; margin:10px 20px 50px 50px">{{balance}}</div>

        <style>
   table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse;
   }
   td, th {
    padding: 3px;
    border: 1px solid #000; /* Параметры рамки */
   }
   th {
    background: #afd792; /* Цвет фона */
    color: #333;  /* Цвет текста */
   }
   tbody tr:hover {
    background: #f3bd48; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
   }
  </style>
        <p style="font-size:30pt;" align="center"> Купить валюту </p>
        <form method="post" action="">
            <table width="100%" border="1" cellspacing="0" cellpadding="4">
                <tr align="center" style="background-color:#AFEEEE;">
                <thead>
                    <tr>
                        <th><b>Цена</b></th>
                        <th><b>GEFs</b></th>
                        <th><b>Покупка</b></th>
                    </tr>
                </thead>

                <tbody>
                {% if price == [] %}
                    <tr> <td colspan="3" style="text-align:center"> Здесь пока пусто</td></tr>
                {% else %}
                    {% for i in price %}
                        <tr>
                            <td>{{i['Цена']}}</td>
                            <td>{{i['GEFs']}}</td>
                            <td style="text-align:center"> <button name="button" value="{{i['Цена']}}" onclick="location.href='/buy'" class="btn btn-primary" >Купить</button> </td>
                    {% endfor %}
                {% endif %}
                </tbody>


                </table>
        </form>

        <p style="font-size:30pt;" align="center">Транзакции </p>
        <table width="100%" border="1" cellspacing="0" cellpadding="4">
            <tr align="center" style="background-color:#AFEEEE;">
            <thead>
                <tr>
                    <th><b>Время</b></th>
                    <th><b>Отправитель</b></th>
                    <th><b>Получатель</b></th>
                    <th><b>Сумма</b></th>
                </tr>
            </thead>

            <tbody>
            {% if transactions == [] %}
                <tr> <td colspan="4" style="text-align:center"> Здесь пока пусто</td></tr>
            {% else %}
                {% for i in transactions %}
                    <tr>
                        <td>{{i['Время']}}</td>
                        <td>{{i['Отправитель']}}</td>
                        <td>{{i['Получатель']}}</td>
                        <td>{{i['Сумма']}}</td>
                {% endfor %}
            {% endif %}
            </tbody>


            </table>





    </div>
<br>
<br>

{% endblock %}