{% extends "base.html" %}

{% block content %}
    <h1>{{ action }} проекта</h1>

    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}

        {% if message %}
            <p>
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            </p>
        {% endif %}

        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>

            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}<br>

            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>
            {{ form.price.label }}<br>
            {{ form.price(class="form-control") }}<br>

            {% for error in form.price.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>
            {{ form.imgs.label }}<br>
            {{ form.imgs }}<br>

            {% for error in form.imgs.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>
            {{ form.files.label }}<br>
            {{ form.files }}<br>

            {% for error in form.files.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

        {% if action == "Редактирование" %}
            <p><a href="/delete_project/{{ project.id }}" class="btn btn-danger">Удалить проект</a></p>
        {% endif %}
    </form>
{% endblock %}