<html>
<body>
<div style="background: #f9f9f9; padding: 20px; border-radius: 10px;">
    <h2 style="color: #333;">Ваш код подтверждения | {{ subject }}</h2>
    <br>
    <div style="text-align: center; margin: 0 auto; border: 2px solid #ccc; padding: 10px; border-radius: 5px;">
        <h1>{{verification_code}}</h1>
    </div>
    <br>
    <p style="font-size: 17px;">Этот код действителен в течение 15 минут.</p>

    <p style="color: #777; font-size: 14px;">
        Если вы не запрашивали этот код, проигнорируйте это письмо.<br><br>
        © 2025 UltimateUnity. Все права защищены.
    </p>
</div>
</body>
</html>