{% extends "base.html" %}

{% block content %}
    <div class="all-projects">
        {% for name in project_types %}
            <div class="projects-block">
                <h2>{{ name }}</h2>
                <div class="projects">
                    {% for project in projects[name] %}
                        {% if project == '!add_project' %}
                            <img src="../static/img/add_project.png" class="add-project" onclick="location.href='/add_project'"
                                 title="Добавить проект" alt="Добавить проект">
                        {% endif %}
                        <div id="{{ name }}{{ loop.index }}" class="carousel slide" data-bs-ride="carousel"
                             data-bs-interval="30000" data-bs-pause="hover">

                            <!-- Слайды -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../static/img/currency.png" class="d-block w-100">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/img/currency.png" class="d-block w-100">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/img/currency.png" class="d-block w-100">
                                </div>
                            </div>

                            <!-- Кнопки управления - компактные и полупрозрачные -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#{{ name }}{{ loop.index }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#{{ name }}{{ loop.index }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}