{% extends "base.html" %}

{% block content %}
<div class="container">
<h2>Логин</h2>
<br>
<form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p>
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    </p>
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <a href="/register">У МЕНЯ НЕТ АККАУНТА</a>
    <p>{{ form.access(type="submit", class="btn btn-primary") }}</p>
</form>
</div>
{% endblock %}