{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Профиль</h2>

        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}

            <p>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control", placeholder=curr_username) }}<br>

                {% for error in form.name.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>

            <p>
                {{ form.about.label }}<br>
                {{ form.about(class="form-control", placeholder=curr_about) }}
            </p>

            <p>
                {{ form.img.label }}<br>
                {{ form.img }}<br>

                {% for error in form.img.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>

            {% if message %}
                <p>
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                </p>
            {% endif %}

            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    </div>
{% endblock %}