{% extends "base.html" %}

{% block content %}
    <h1>{{ project["name"] }}</h1>

    <div id="{{ project['id'] }}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="30000" data-bs-pause="hover">
        <div class="carousel-inner">
            {% for slide in project["imgs"] %}
                {% if loop.first %}
                    <div class="carousel-item active">
                        <img src="{{ slide }}" class="d-block w-100">
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <img src="{{ slide }}" class="d-block w-100">
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#{{ project['id'] }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#{{ project['id'] }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <p>{{ project["description"] }}</p>

    <p>{{ project["created_date"] }}</p>

    {% if project_download %}
        <a class="btn btn-success" href="../static/buffer/projects/{{ project['id'] }}/project_files" download="{{ project['name'] }}.zip">Скачать проект</a>
    {% else %}
        <form method="post"><button class="btn btn-primary">Купить за {{ project["price"] }}GEF's</button></form>
    {% endif %}
{% endblock %}